In [2]:
import pandas
import math

In [7]:
df=pandas.read_csv("train.csv")
df_test=pandas.read_csv("test.csv")
df_check=pandas.read_csv("check.csv")

In [8]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001343,Male,Yes,0,Graduate,No,1759,3541.0,131.0,360.0,1.0,Semiurban,Y
1,LP001345,Male,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban,Y
2,LP001349,Male,No,0,Graduate,No,4843,3806.0,151.0,360.0,1.0,Semiurban,Y
3,LP001350,Male,Yes,NaN,Graduate,No,13650,0.0,NaN,360.0,1.0,Urban,Y
4,LP001356,Male,Yes,0,Graduate,No,4652,3583.0,NaN,360.0,1.0,Semiurban,Y
5,LP001357,Male,NaN,NaN,Graduate,No,3816,754.0,160.0,360.0,1.0,Urban,Y
6,LP001367,Male,Yes,1,Graduate,No,3052,1030.0,100.0,360.0,1.0,Urban,Y
7,LP001369,Male,Yes,2,Graduate,No,11417,1126.0,225.0,360.0,1.0,Urban,Y
8,LP001370,Male,No,0,Not Graduate,NaN,7333,0.0,120.0,360.0,1.0,Rural,N
9,LP001379,Male,Yes,2,Graduate,No,3800,3600.0,216.0,360.0,0.0,Urban,N
10,LP001384,Male,Yes,3+,Not Graduate,No,2071,754.0,94.0,480.0,1.0,Semiurban,Y
11,LP001385,Male,No,0,Graduate,No,5316,0.0,136.0,360.0,1.0,Urban,Y
12,LP001387,Female,Yes,0,Graduate,NaN,2929,2333.0,139.0,360.0,1.0,Semiurban,Y
13,LP001391,Male,Yes,0,Not Graduate,No,3572,4114.0,152.0,NaN,0.0,Rural,N
14,LP001392,Female,No,1,Graduate,Yes,7451,0.0,NaN,360.0,1.0,Semiurban,Y
15,LP001398,Male,No,0,Graduate,NaN,5050,0.0,118.0,360.0,1.0,Semiurban,Y
16,LP001401,Male,Yes,1,Graduate,No,14583,0.0,185.0,180.0,1.0,Rural,Y
17,LP001404,Female,Yes,0,Graduate,No,3167,2283.0,154.0,360.0,1.0,Semiurban,Y
18,LP001405,Male,Yes,1,Graduate,No,2214,1398.0,85.0,360.0,NaN,Urban,Y
19,LP001421,Male,Yes,0,Graduate,No,5568,2142.0,175.0,360.0,1.0,Rural,N
20,LP001422,Female,No,0,Graduate,No,10408,0.0,259.0,360.0,1.0,Urban,Y
21,LP001426,Male,Yes,NaN,Graduate,No,5667,2667.0,180.0,360.0,1.0,Rural,Y
22,LP001430,Female,No,0,Graduate,No,4166,0.0,44.0,360.0,1.0,Semiurban,Y
23,LP001431,Female,No,0,Graduate,No,2137,8980.0,137.0,360.0,0.0,Semiurban,Y
24,LP001432,Male,Yes,2,Graduate,No,2957,0.0,81.0,360.0,1.0,Semiurban,Y
25,LP001439,Male,Yes,0,Not Graduate,No,4300,2014.0,194.0,360.0,1.0,Rural,Y
26,LP001443,Female,No,0,Graduate,No,3692,0.0,93.0,360.0,NaN,Rural,Y
27,LP001448,NaN,Yes,3+,Graduate,No,23803,0.0,370.0,360.0,1.0,Rural,Y
28,LP001449,Male,No,0,Graduate,No,3865,1640.0,NaN,360.0,1.0,Rural,Y
29,LP001451,Male,Yes,1,Graduate,Yes,10513,3850.0,160.0,180.0,0.0,Urban,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
486,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
487,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
488,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
489,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
490,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
491,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
492,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
493,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
494,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
495,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
496,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
497,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
498,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
499,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
500,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
501,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
502,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
503,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
504,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
505,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
506,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
507,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
508,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
509,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
510,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
511,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
512,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
513,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
514,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [9]:
#preprocessing



# preprocessing dependents coloumn
zero=one=two=three=0
for i in range(0,len(df)):
    if df.loc[i,"Dependents"]=="3+":
        df.loc[i,"Dependents"]=3
        three=three+1
    elif df.loc[i,"Dependents"]=="0":
        zero=zero+1
    elif df.loc[i,"Dependents"]=="1":
        one=one+1
    elif df.loc[i,"Dependents"]=="2":
        two=two+1
frequent_count=[zero,one,two,three]
frequent_item=max(frequent_count)
if frequent_item==zero:
    replace=0
elif frequent_item==one:
    replace=1
elif frequent_item==two:
    replace=2
elif frequent_item==three:
    replace=3
for i in range(0,len(df)):
    if math.isnan(float(df.loc[i,"Dependents"])):
        df.loc[i,"Dependents"]=replace

#preprocessing education coloumn
graduate=not_graduate=0
for i in range(0,len(df)):
    if df.loc[i,"Education"]=="Graduate":
        df.loc[i,"Education"]=1
        graduate=graduate+1
    elif df.loc[i,"Education"]=="Not Graduate":
        df.loc[i,"Education"]=2
        not_graduate=not_graduate+1
frequent_count=[graduate,not_graduate]
frequent_item=max(frequent_count)
if frequent_item==graduate:
    replace=1
elif frequent_item==not_graduate:
    replace=2
for i in range(0,len(df)):
    if math.isnan(float(df.loc[i,"Education"])):
        df.loc[i,"Education"]=replace

#preprocessing self_employed coloumn
self=not_self=0
for i in range(0,len(df)):
    if df.loc[i,"Self_Employed"]=="Yes":
        df.loc[i,"Self_Employed"]=2
        self=self+1
    elif df.loc[i,"Self_Employed"]=="No":
        df.loc[i,"Self_Employed"]=1
        not_self=not_self+1
frequent_count=[self,not_self]
frequent_item=max(frequent_count)
if frequent_item==self:
    replace=2
elif frequent_item==not_self:
    replace=1
for i in range(0,len(df)):
    if math.isnan(float(df.loc[i,"Self_Employed"])):
        df.loc[i,"Self_Employed"]=replace
 
"""preprocessing ApplicantIncome"""
numerator=denominator=0
for i in range(0,len(df)):
    if not(math.isnan(float(df.loc[i,"ApplicantIncome"]))):
        numerator=numerator+float(df.loc[i,"ApplicantIncome"])
        denominator=denominator+1
replace=mean=numerator/denominator
for i in range(0,len(df)):
    if math.isnan(float(df.loc[i,"ApplicantIncome"])):
        df.loc[i,"ApplicantIncome"]=int(replace)
        
#preprocessing CoapplicantIncome coloumn
numerator=denominator=0
for i in range(0,len(df)):
    if not(math.isnan(float(df.loc[i,"CoapplicantIncome"]))):
        numerator=numerator+float(df.loc[i,"CoapplicantIncome"])
        denominator=denominator+1
replace=mean=numerator/denominator
for i in range(0,len(df)):
    if math.isnan(float(df.loc[i,"CoapplicantIncome"])):
        df.loc[i,"CoapplicantIncome"]=int(replace)
        
#preprocessing LoanAmount coloumn
numerator=denominator=0
for i in range(0,len(df)):
    if not(math.isnan(float(df.loc[i,"LoanAmount"]))):
        numerator=numerator+float(df.loc[i,"LoanAmount"])
        denominator=denominator+1
replace=mean=numerator/denominator
for i in range(0,len(df)):
    if math.isnan(float(df.loc[i,"LoanAmount"])):
        df.loc[i,"LoanAmount"]=int(replace)

#preprocessing Loan_Amount_Term   given values in months
numerator=denominator=0
for i in range(0,len(df)):
    if not(math.isnan(float(df.loc[i,"Loan_Amount_Term"]))):
        numerator=numerator+float(df.loc[i,"Loan_Amount_Term"])
        denominator=denominator+1
replace=mean=numerator/denominator
for i in range(0,len(df)):
    if math.isnan(float(df.loc[i,"Loan_Amount_Term"])):
        df.loc[i,"Loan_Amount_Term"]=int(replace)
     
#preprocessing Credit_History coloumn
numerator=denominator=0
for i in range(0,len(df)):
    if not(math.isnan(float(df.loc[i,"Credit_History"]))):
        numerator=numerator+float(df.loc[i,"Credit_History"])
        denominator=denominator+1
replace=mean=numerator/denominator
for i in range(0,len(df)):
    if math.isnan(float(df.loc[i,"Credit_History"])):
        df.loc[i,"Credit_History"]=int(replace)

#preprocessing Property_Area coloumn
urban=semi_urban=rural=0
for i in range(0,len(df)):
    if df.loc[i,"Property_Area"]=="Urban":
        df.loc[i,"Property_Area"]=1
        urban=urban+1
    elif df.loc[i,"Property_Area"]=="Semiurban":
        df.loc[i,"Property_Area"]=2
        semi_urban=semi_urban+1
    elif df.loc[i,"Property_Area"]=="Rural":
        df.loc[i,"Property_Area"]=3
        rural=rural+1
frequent_count=[urban,semi_urban,rural]
frequent_item=max(frequent_count)
if frequent_item==urban:
    replace=1
elif frequent_item==semi_urban:
    replace=2
elif frequent_item==rural:
    replace=3
for i in range(0,len(df)):
    if math.isnan(int(df.loc[i,"Property_Area"])):
        df.loc[i,"Property_Area"]=replace
        
#preprocessing Loan_Status coloumn
yes=no=0
for i in range(0,len(df)):
    if df.loc[i,"Loan_Status"]=="Y":
        df.loc[i,"Loan_Status"]=1
        yes=yes+1
    elif df.loc[i,"Loan_Status"]=="N":
        df.loc[i,"Loan_Status"]=2
        no=no+1
frequent_count=[yes,no]
frequent_item=max(frequent_count)
if frequent_item==yes:
    replace=1
elif frequent_item==no:
    replace=2
for i in range(0,len(df)):
    if math.isnan(int(df.loc[i,"Loan_Status"])):
        df.loc[i,"Loan_Status"]=replace
        
#preprocessing Loan_Status coloumn for check
yes=no=0
for i in range(0,len(df_check)):
    if df_check.loc[i,"Loan_Status"]=="Y":
        df_check.loc[i,"Loan_Status"]=1
        yes=yes+1
    elif df_check.loc[i,"Loan_Status"]=="N":
        df_check.loc[i,"Loan_Status"]=2
        no=no+1
frequent_count=[yes,no]
frequent_item=max(frequent_count)
if frequent_item==yes:
    replace=1
elif frequent_item==no:
    replace=2
for i in range(0,len(df_check)):
    if math.isnan(int(df_check.loc[i,"Loan_Status"])):
        df_check.loc[i,"Loan_Status"]=replace

In [10]:
#preprocessing test data

# preprocessing dependents coloumn
zero=one=two=three=0
for i in range(0,len(df_test)):
    if df_test.loc[i,"Dependents"]=="3+":
        df_test.loc[i,"Dependents"]=3
        three=three+1
    elif df_test.loc[i,"Dependents"]=="0":
        zero=zero+1
    elif df_test.loc[i,"Dependents"]=="1":
        one=one+1
    elif df_test.loc[i,"Dependents"]=="2":
        two=two+1
frequent_count=[zero,one,two,three]
frequent_item=max(frequent_count)
if frequent_item==zero:
    replace=0
elif frequent_item==one:
    replace=1
elif frequent_item==two:
    replace=2
elif frequent_item==three:
    replace=3
for i in range(0,len(df_test)):
    if math.isnan(float(df_test.loc[i,"Dependents"])):
        df_test.loc[i,"Dependents"]=replace

#preprocessing education coloumn
graduate=not_graduate=0
for i in range(0,len(df_test)):
    if df_test.loc[i,"Education"]=="Graduate":
        df_test.loc[i,"Education"]=1
        graduate=graduate+1
    elif df_test.loc[i,"Education"]=="Not Graduate":
        df_test.loc[i,"Education"]=2
        not_graduate=not_graduate+1
frequent_count=[graduate,not_graduate]
frequent_item=max(frequent_count)
if frequent_item==graduate:
    replace=1
elif frequent_item==not_graduate:
    replace=2
for i in range(0,len(df_test)):
    if math.isnan(float(df_test.loc[i,"Education"])):
        df_test.loc[i,"Education"]=replace

#preprocessing self_employed coloumn
self=not_self=0
for i in range(0,len(df_test)):
    if df_test.loc[i,"Self_Employed"]=="Yes":
        df_test.loc[i,"Self_Employed"]=2
        self=self+1
    elif df_test.loc[i,"Self_Employed"]=="No":
        df_test.loc[i,"Self_Employed"]=1
        not_self=not_self+1
frequent_count=[self,not_self]
frequent_item=max(frequent_count)
if frequent_item==self:
    replace=2
elif frequent_item==not_self:
    replace=1
for i in range(0,len(df_test)):
    if math.isnan(float(df_test.loc[i,"Self_Employed"])):
        df_test.loc[i,"Self_Employed"]=replace
    
#preprocessing ApplicantIncome coloumn
numerator=denominator=0
for i in range(0,len(df_test)):
    if not(math.isnan(float(df_test.loc[i,"ApplicantIncome"]))):
        numerator=numerator+float(df_test.loc[i,"ApplicantIncome"])
        denominator=denominator+1
replace=mean=numerator/denominator
for i in range(0,len(df_test)):
    if math.isnan(float(df_test.loc[i,"ApplicantIncome"])):
        df_test.loc[i,"ApplicantIncome"]=int(replace)
        
#preprocessing CoapplicantIncome coloumn
numerator=denominator=0
for i in range(0,len(df_test)):
    if not(math.isnan(float(df_test.loc[i,"CoapplicantIncome"]))):
        numerator=numerator+float(df_test.loc[i,"CoapplicantIncome"])
        denominator=denominator+1
replace=mean=numerator/denominator
for i in range(0,len(df_test)):
    if math.isnan(float(df_test.loc[i,"CoapplicantIncome"])):
        df_test.loc[i,"CoapplicantIncome"]=int(replace)
        
#preprocessing LoanAmount coloumn
numerator=denominator=0
for i in range(0,len(df_test)):
    if not(math.isnan(float(df_test.loc[i,"LoanAmount"]))):
        numerator=numerator+float(df_test.loc[i,"LoanAmount"])
        denominator=denominator+1
replace=mean=numerator/denominator
for i in range(0,len(df_test)):
    if math.isnan(float(df_test.loc[i,"LoanAmount"])):
        df_test.loc[i,"LoanAmount"]=int(replace)

#preprocessing Loan_Amount_Term   given values in months
numerator=denominator=0
for i in range(0,len(df_test)):
    if not(math.isnan(float(df_test.loc[i,"Loan_Amount_Term"]))):
        numerator=numerator+float(df_test.loc[i,"Loan_Amount_Term"])
        denominator=denominator+1
replace=mean=numerator/denominator
for i in range(0,len(df_test)):
    if math.isnan(float(df_test.loc[i,"Loan_Amount_Term"])):
        df_test.loc[i,"Loan_Amount_Term"]=int(replace)
        
#preprocessing Credit_History coloumn
numerator=denominator=0
for i in range(0,len(df_test)):
    if not(math.isnan(float(df_test.loc[i,"Credit_History"]))):
        numerator=numerator+float(df_test.loc[i,"Credit_History"])
        denominator=denominator+1
replace=mean=numerator/denominator
for i in range(0,len(df_test)):
    if math.isnan(float(df_test.loc[i,"Credit_History"])):
        df_test.loc[i,"Credit_History"]=int(replace)

#preprocessing Property_Area coloumn
urban=semi_urban=rural=0
for i in range(0,len(df_test)):
    if df_test.loc[i,"Property_Area"]=="Urban":
        df_test.loc[i,"Property_Area"]=1
        urban=urban+1
    elif df_test.loc[i,"Property_Area"]=="Semiurban":
        df_test.loc[i,"Property_Area"]=2
        semi_urban=semi_urban+1
    elif df_test.loc[i,"Property_Area"]=="Rural":
        df_test.loc[i,"Property_Area"]=3
        rural=rural+1
frequent_count=[urban,semi_urban,rural]
frequent_item=max(frequent_count)
if frequent_item==urban:
    replace=1
elif frequent_item==semi_urban:
    replace=2
elif frequent_item==rural:
    replace=3
for i in range(0,len(df_test)):
    if math.isnan(int(df_test.loc[i,"Property_Area"])):
        df_test.loc[i,"Property_Area"]=replace

In [12]:
#implementing KNN algorithm
'''
k=8
for j in range(0,len(df_test)):
    avgn=0
    dlist=[]
    for i in range(0,len(df)):
        #distance=math.sqrt( (int(df.loc[i,"Dependents"])-int(df_test.loc[j,"Dependents"]))**2 +(int(df.loc[i,"Education"])-int(df_test.loc[j,"Education"]))**2 +(int(df.loc[i,"Self_Employed"])-int(df_test.loc[j,"Self_Employed"]))**2 +(int(df.loc[i,"ApplicantIncome"])-int(df_test.loc[j,"ApplicantIncome"]))**2 +(int(df.loc[i,"CoapplicantIncome"])-int(df_test.loc[j,"CoapplicantIncome"]))**2 +(int(df.loc[i,"LoanAmount"])-int(df_test.loc[j,"LoanAmount"]))**2 +(int(df.loc[i,"Loan_Amount_Term"])-int(df_test.loc[j,"Loan_Amount_Term"]))**2 +(int(df.loc[i,"Credit_History"])-int(df_test.loc[j,"Credit_History"]))**2 +(int(df.loc[i,"Property_Area"])-int(df_test.loc[j,"Property_Area"]))**2 )
        distance=math.sqrt( ((int(df.loc[i,"ApplicantIncome"])-int(df_test.loc[j,"ApplicantIncome"]))**2 +(int(df.loc[i,"CoapplicantIncome"])-int(df_test.loc[j,"CoapplicantIncome"]))**2 +(int(df.loc[i,"LoanAmount"])-int(df_test.loc[j,"LoanAmount"]))**2 +(int(df.loc[i,"Loan_Amount_Term"])-int(df_test.loc[j,"Loan_Amount_Term"]))**2  ))
        dlist=dlist+[distance]
    for i in range(0,k):
        min_distance=min(dlist)
        index=dlist.index(min_distance)
        avgn=avgn+int(df.loc[index,"Loan_Status"])
        if i!=k-1:
            dlist.pop(dlist.index(min_distance))
    index=dlist.index(min_distance)
    #df_test.loc[j,"Loan_Status"]=df.loc[index,"Loan_Status"]
    df_test.loc[j,"Loan_Status"]=int(avgn/k)
# checking accuracy
correct=0
for i in range(0,len(df_check)):
    if df_check.loc[i,"Loan_Status"]==df_test.loc[i,"Loan_Status"]:
            correct=correct+1
accuracy=(correct*100)/len(df_check)
print(k,accuracy)'''
    
for k in range(1,11):
    
    for j in range(0,len(df_test)):
        avgn=0
        dlist=[]
        for i in range(0,len(df)):
            #distance=math.sqrt( (int(df.loc[i,"Dependents"])-int(df_test.loc[j,"Dependents"]))**2 +(int(df.loc[i,"Education"])-int(df_test.loc[j,"Education"]))**2 +(int(df.loc[i,"Self_Employed"])-int(df_test.loc[j,"Self_Employed"]))**2 +(int(df.loc[i,"ApplicantIncome"])-int(df_test.loc[j,"ApplicantIncome"]))**2 +(int(df.loc[i,"CoapplicantIncome"])-int(df_test.loc[j,"CoapplicantIncome"]))**2 +(int(df.loc[i,"LoanAmount"])-int(df_test.loc[j,"LoanAmount"]))**2 +(int(df.loc[i,"Loan_Amount_Term"])-int(df_test.loc[j,"Loan_Amount_Term"]))**2 +(int(df.loc[i,"Credit_History"])-int(df_test.loc[j,"Credit_History"]))**2 +(int(df.loc[i,"Property_Area"])-int(df_test.loc[j,"Property_Area"]))**2 )
            distance=math.sqrt( ((int(df.loc[i,"ApplicantIncome"])-int(df_test.loc[j,"ApplicantIncome"]))**2 +(int(df.loc[i,"CoapplicantIncome"])-int(df_test.loc[j,"CoapplicantIncome"]))**2 +(int(df.loc[i,"LoanAmount"])-int(df_test.loc[j,"LoanAmount"]))**2 +(int(df.loc[i,"Loan_Amount_Term"])-int(df_test.loc[j,"Loan_Amount_Term"]))**2  ))
            dlist=dlist+[distance]
        for i in range(0,k):
            min_distance=min(dlist)
            index=dlist.index(min_distance)
            avgn=avgn+int(df.loc[index,"Loan_Status"])
            if i!=k-1:
                dlist.pop(dlist.index(min_distance))
        index=dlist.index(min_distance)
        #df_test.loc[j,"Loan_Status"]=df.loc[index,"Loan_Status"]
        df_test.loc[j,"Loan_Status"]=int(avgn/k)
    # checking accuracy
    correct=0
    for i in range(0,len(df_check)):
        if df_check.loc[i,"Loan_Status"]==df_test.loc[i,"Loan_Status"]:
                correct=correct+1
    accuracy=(correct*100)/len(df_check)

1 60.60606060606061
2 61.61616161616162
3 62.62626262626262
4 62.62626262626262
5 63.63636363636363
6 63.63636363636363
7 63.63636363636363
8 63.63636363636363
9 63.63636363636363
10 63.63636363636363